.svn
/cache/*
/log/*
.DS_Store
thumbs.db
Desktop.ini
config/databases.yml
/nbproject/
/web/sfDoctrinePlugin
*~
web/.htaccess
web/*_dev.php
web/backend.php
web/index.php
apps/frontend/config/app.yml
/plugins/.registry/
/plugins/.filemap
