a.read_more {
	display:block;
	text-align:right;
	font-style:italic;
	font-size:.9em;
	font-weight:bold;
	color:#aaa;
}

span.border.bb, span.border.bt {
	width:auto;
	left:0;
	right:0;
}
span.border.br, span.border.bl {
	top:0;
	bottom:0;
	height:auto;
}

body {
	background:url("../images/blog/backgrounds/main2.jpg") no-repeat fixed center center transparent;
}

.invisible {
  display: none;
}

/* topbar */

#topbar {
	background-color:#254A14;
	height:40px;
	margin:auto;
}

#topbar a {
	color:#FFFFFF;
	font-size: 12px;
}

#topbar a:hover {
	text-decoration: underline;
}

#topbar .deja_planter img {
	float: left;
	margin: 5px;
}

#topbar .deja_planter {
	float: left;
	line-height: 40px;
	margin-left: 10px;
	min-width: 300px;
}

#language-wrapper {
	float: none;
	left: auto;
}

#language-wrapper div.flags-hidden,
#language-wrapper div.flags-hidden ul {
	background: none;
}

#topbar .tool_box {
	float:right;
	height: 40px;
}

#language-wrapper {
	padding-top: 5px;
}

.fltr {
	float:right;
}

.fond_banner {
	background:url("../images/blog/backgrounds/bg_header.png") repeat-x scroll 0 0 transparent;
	height:190px;
}

.fond_banner_bottom {
	background:url("../images/blog/backgrounds/bg_header_bottom.png") repeat-x scroll 0 0 transparent;
	height:80px;
	margin:auto;
}

.corps {
	margin:auto;
	position:relative;
	top:-70px;
	width:1024px;
}

#bg_corps {
	min-height:400px;
	width:1024px;
}

#main-menu {
	margin-top:15px;
	width:1000px;
}

	#main-menu ul {
		height:24px;
		list-style-type:none;
		padding-left:15px;
		padding-right:15px;
		position:relative;
		width:1000px;
		z-index:342;
	}

	#main-menu li {
		float:left;
		margin-left:15px;
		width:auto;
	}

	#main-menu li a:link, #main-menu li a:visited {
		color:#eee;
		font-weight:bold;
		display:block;
		padding:5px 0;
		text-decoration:none;
		text-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	}

	#main-menu li a:hover {
		color:#ccc;
	}

	#main-menu ul div.module {
		margin-top:15px;
		display:none;
		position:absolute;
	}

	#main-menu ul div.module .content {
		padding:0 0 10px;
	}

	#main-menu ul ul {
		border:0 none;
		height:100%;
		list-style-image:url("../images/icons/puce.png");
		margin:0;
		padding:0;
		width:auto;
	}

	#main-menu ul ul li {
		border:0 none;
		float:none;
		margin-left:20px;
		padding:0;
		width:auto;
	}

#menu_social {
	margin-right:10px;
	width:26px;
}

#menu_social a {
	margin-top:10px;
}

#menu_social li {
	width:26px;
}

#menu_social li a:link, #menu_social li a:visited {
	display:block;
	text-decoration:none;
}

#menu_social .sousMenu {
	display:none;
}

#menu_social .more img {
	height:26px;
	margin-top:5px;
	width:26px;
}

.module.social {
	position:absolute;
	right:0;
	top:235px;
	width:30px;
	z-index:642;
}

.banner {
	height:190px;
	margin:auto;
	width:1024px;
}

.logo {
	clear:both;
	float:left;
	margin-left:20px;
}

.diaporama {
	float:right;
	height:190px;
	width:660px;
}

.diaporama .nav, .diaporama .diapo {
  float: left;
}

.diaporama .diapo {
  width: 590px;
  padding:5px 0 10px;
  font-weight:bold;
  color:#ddd;
}

.diaporama .diapo table td{
	vertical-align:middle;
	height: 160px;
}

.diaporama .diapo h3{
	font-size:1.5em;
	font-style:italic;
	padding:10px 5px 5px;
}

.diaporama .diapo img{
	max-height: 160px;
  max-width: 290px;
}

img.article-miniature {
	float:left;
	max-height:80px;
	max-width:145px;
	padding-right:5px;
}

.cartouche_titre {
	margin-left:0;
	margin-top:20px;
	min-height:42px;
	width:250px;
}

.title_acc_blog {
	color:#FFFFFF;
	margin-bottom:10px;
	margin-left:15px;
	margin-right:15px;
	position:absolute;
	text-align:center;
	z-index:200;
}

.principale {

}

.blog_footer {
	background-color:#FFFFFF;
	margin:30px auto 20px;
	width:960px;
}

.footer_associatif {
	margin:auto;
	max-width:1000px;
	min-height:100px;
	position:relative;
	z-index:143;
}

.footer_associatif li {
	border-left:1px solid #CCCCCC;
	display:block;
	float:left;
	height:100px;
	max-width:200px;
	padding:0 15px;
}

.footer_associatif li.first {border:none;}

.footer_associatif li p {
	font-size:12px;
	text-align:center;
}

.footer_associatif li .btn p {
	padding:5px;
}

.footer_last_li {
	padding-right:5px;
}

/* Surcharge module */
.principale .module .content,
.blog_footer .module .content {
	background-color:#FFFFFF
}

div.module span.corner {
	background-color:transparent;
	background-image: url("../images/blog/bg_corps/corner_bg_corps.png");
	width:15px;
	height:15px;
}

div.module span.ctl {
	left:-15px;
	top:-15px;
}

div.module span.ctr {
	right:-15px;
	top:-15px;
}

div.module span.cbl {
	bottom:-15px;
	left:-15px;
}

div.module span.cbr {
	bottom:-15px;
	right:-15px;
}

div.module span.border {
	position:absolute;
}

div.module span.border.bb,
div.module span.border.bt {
	height:15px;
	left:0;
}

div.module span.border.bl,
div.module span.border.br {
	width:15px;
}

div.module span.border.bb {
	background-image:url("../images/blog/bg_corps/bottom_bg_corps.png");
	bottom:-15px;
}

div.module span.border.bt {
	background-image:url("../images/blog/bg_corps/top_bg_corps.png");
	top:-15px;
}

div.module span.border.bl {
	background-image:url("../images/blog/bg_corps/left_bg_corps.png");
	left:-15px;
}

div.module span.border.br {
	background-image:url("../images/blog/bg_corps/right_bg_corps.png");
	right:-15px;
}

div.module span.border.bl, span.border.br {
	width:15px;
}

div.module {
	background-image:url("../images/blog/bg_corps/fond_corps.png");
}

div.module div.content {
	padding:0 10px 10px;
}

div.module.social span.ctr,
div.module.social span.cbr,
div.module.social span.br {
	display:none;
}

div.module.social div.content {
	padding:0 5px 0 0;
}

.principale .module {
	float:left;
	margin:30px 20px;
	width:290px;
}

.principale .module2col {
	float:left;
	width:580px;
}

.principale .colRight {
	float:right;
	width:350px;
	margin-right:10px;
}

.principale .colRight .module {
	width:320px;
}

.principale .module span.corner,
.blog_footer .module span.corner {
	background-image:url("../images/blog/bg_module/corner_bg_module.png");
}

.principale .module span.ctl,
.blog_footer .module span.ctl {
	height:62px;
	left:-5px;
	top:-15px;
	width:27px;
}

.principale .module span.ctr,
.blog_footer .module span.ctr {
	height:62px;
	right:-5px;
	top:-15px;
	width:114px;
}

.principale .module span.cbl,
.blog_footer .module span.cbl {
	bottom:-32px;
	height:32px;
	left:-5px;
	width:114px;
}

.principale .module span.cbr,
.blog_footer .module span.cbr {
	bottom:-32px;
	height:32px;
	right:-5px;
	width:27px;
}

.principale .module span.border.bb,
.blog_footer .module span.border.bb {
	background-image:url("../images/blog/bg_module/bottom_bg_module.png");
	bottom:-32px;
	height:32px;
	margin-left:109px;
	margin-right:22px;
}

.principale .module span.border.bt,
.blog_footer .module span.border.bt {
	background-image:url("../images/blog/bg_module/top_bg_module.png");
	height:15px;
	top:-15px;
	margin-right:109px;
	margin-left:22px;
}

.principale .module span.border.bl,
.blog_footer .module span.border.bl {
	background-image:url("../images/blog/bg_module/left_bg_module.png");
	left:-5px;
}

.principale .module span.border.br,
.blog_footer .module span.border.br {
	background-image:url("../images/blog/bg_module/right_bg_module.png");
	right:-5px;
}

.principale .module span.border.br,
.blog_footer .module span.border.br,
.principale .module span.border.bl,
.blog_footer .module span.border.bl{
	width:15px;
	margin-top:47px;
}

.principale .module div.module,
.blog_footer .module div.module {
	background:none repeat scroll 0 0 transparent;
	height:100%;
	position:relative;
}

.principale .module div.content,
.blog_footer .module div.content {
	background-color:#FFFFFF;
	padding:10px 15px;
}

.cartouche {
	background-color:#429F1B;
	left:-10px;
	min-height:1px;
	position:absolute;
	top:15px;
	width:275px;
	z-index:290;
}

#bg_corps .module .content .module .cartouche span.corner {
	display:block;
	font-size:0;
	position:absolute;
	width:13px;
}

#bg_corps .module .content .module .cartouche span.corner {
	background-image:url("../images/blog/cartouche_titre/corner_cartouche_titre.png");
}

#bg_corps .module .content .module .cartouche span.cbl,
#bg_corps .module .content .module .cartouche span.ctl {
	width:80px;
}

#bg_corps .module .content .module .cartouche span.cbr,
#bg_corps .module .content .module .cartouche span.ctr {
	width:125px;
}

#bg_corps .module .content .module .cartouche span.ctl,
#bg_corps .module .content .module .cartouche span.ctr {
	top:-18px;
	height:18px;
}

#bg_corps .module .content .module .cartouche span.cbl,
#bg_corps .module .content .module .cartouche span.cbr {
	bottom:-24px;
	height:24px;
}

#bg_corps .module .content .module .cartouche span.ctl {
	left:-2px;
	margin-top:0;
}

#bg_corps .module .content .module .cartouche span.ctr {
	right:-4px;
}

#bg_corps .module .content .module .cartouche span.cbl {
	left:-2px;
}

#bg_corps .module .content .module .cartouche span.cbr {
	right:-4px;
}

#bg_corps .module .content .module .cartouche span.border.bb {
	background-image:url("../images/blog/cartouche_titre/bottom_cartouche_titre.png");
	bottom:-24px;
	height:24px;
	margin-left:78px;
	margin-right:121px;
	right:0;
}

#bg_corps .module .content .module .cartouche span.border.bt {
	background-image:url("../images/blog/cartouche_titre/top_cartouche_titre.png");
	height:18px;
	margin-left:78px;
	margin-right:119px;
	right:2px;
	top:-18px;
}

#bg_corps .module .content .module .cartouche span.border.bl {
	background-image:url("../images/blog/cartouche_titre/left_cartouche_titre.png");
	left:-2px;
	margin-top:0;
	width:80px;
}

#bg_corps .module .content .module .cartouche span.border.br {
	background-image:url("../images/blog/cartouche_titre/right_cartouche_titre.png");
	margin-top:0;
	right:-4px;
	width:125px;
}

div.cartouche p.title {
	color:#7AA520;
	font-size:15px;
	font-weight:bold;
	left:30px;
	position:absolute;
	text-align:left;
	top:10px;
	width:90%;
	z-index:20;
}

div.cartouche p.title.indent {
	left:70px;
	top:10px;
	width:65%;
}

div.cartouche p.title.little {
	font-size:12px;
	top:10px;
}

#bg_corps .module .content .module .cartouche div.content {
	background-color:#42A016;
	padding:5px;
}

.title_blog {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  z-index: 156;
}

.title_blog a {
  color: #FFFFFF;
}

.first_article {
	padding-top:60px;
}

.module2col .content ul{
	list-style-type:circle;
	padding: 15px 0 15px 15px;
}

.module2col .content li {
	padding: 2px 0;
}

.module2col .content .accroche {
	padding:0 10px 10px;
}

.module2col .content .description {
	padding: 10px 0 0;
}

.up_n_down {
	bottom:-25px;
	position:relative;
	text-align:center;
	z-index:360;
}

/* footer */

#footer_page {
	background: url("../images/blog/footer/bg_footer.png") repeat-x scroll 0 0 transparent;
	color: #DDDDDD;
	display: table;
	font-size: 10px;
	height: 70px;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
	width: 100%;
	position: fixed;
	bottom:0;
}

#footer_page a,
#footer_page a:visited {
	text-decoration: none;
	color: #BACF2C;
	font-weight: bold;
}

#legal {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#footer_page a:hover {
	color: #D7EF33;
}

.footer_associatif a.button {
	bottom:0;
	margin-top:10px;
	min-height:30px;
	position:absolute;
	width:15%;
}



img.element_logo {
  max-width: 200px;
  max-height: 200px;
}

/* articles */
.article.first {
	padding-top:45px;
}

.article a.title {
	color:#2C8A40;
	font-weight:bold;
}

.article p.body {
	margin: 5px 0 5px 5px;
	font-size:0.9em;
}