form ul.error_list {
	float: right;
}

form ul.error_list li {
	color: red;
	font-style:italic;
}

form tbody th {
	text-align:right;
	vertical-align:middle;
	padding: 2px 5px;
}

form tbody th, form tbody td {
	padding: 2px 5px;
}

fieldset { 
	border:1px solid #7AA520;
	padding:10px;
	margin: 10px 0;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px; 
	-moz-border-radius: 5px 5px 5px 5px;
}

legend {
  border: 1px solid #7AA520;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px; 
	-moz-border-radius: 5px 5px 5px 5px;
	color: #7AA520;
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
}

table.form {
	width: 100%;
}

table.form td{
	vertical-align: middle;
}

table.form td.label {
	color:#909090;
	text-align:right;
	padding-right: 10px;
}

table.form td.field {
	text-align:left;
	min-width:70%;
}

table.form.no-field-width td.field {
	min-width:inherit;
}

table.form td.info {
	text-align:left;
}

table.form img.add-line {
	cursor:pointer;
}

table.form tfoot td{
	padding: 10px 5px 0 0;
	text-align:right;
}