a{
text-decoration: none;
}
body{
font-family: sans-serif;
font-size:14px;
}
.general{
margin:auto;
padding:0px;
background-color:#FFFFFF;
width:1024px;
}

.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.clear{clear:both;}

/*MENU HAUT*/
.menu_haut{
width:1024px;
height:40px;
margin-bottom:20px;
}
.left_menu_haut{
background: url(/images/top_bar-left_10x40.png);
width:10px;
height:40px;
float:left;
}
.right_menu_haut{
background: url(/images/top_bar-right_10x40.png);
width:10px;
height:40px;
float:right;
}
.middle_menu_haut{
background: url(/images/top_bar-middle_1x40.png);
width:1004px;
height:40px;
float:left;
}
/*MENU HAUT gauche*/
.menu_accueil{
float:left;
height:40px;
font-size:12px;
color:#FFFFFF;
}
.menu{
display: block;
font-size:10px;
margin:0px;
list-style-type:none;
float:left;
}
.menu li{
padding-top:10px;
padding-left:10px;
float:left;
}
.menu a{
text-decoration:underline;
color:white;
}
.menu a:hover{
color:white;
text-decoration:none;
text-align:center;
}
.menu a:active{
color:#C2C2C2;
text-decoration:underline;
font-size:12px;
}
.flag{
float:left;
background: url(/images/moteur/flag_40x40.png);
width:40px;
height:40px;
text-align:left;
}
/*MENU HAUT droit*/
.menu_connexion{
float:right;
text-align:right;
font-size:12px;
color:#FFFFFF;
}
.menu_connexion a{
color:white;
text-decoration: underline;
}
.menu_connexion_deco li{
float:right;
padding-right:5px;
text-align: right;
font-size:10px;
font-weight:bold;
}
.mdp_perdu{
background: url(/images/moteur/btn_pass_forgive_20x20.png);
background-repeat: no-repeat;
background-position: center;
font-size:14px;
width:20px;
height:23px;
}
/*CORPS du SITE*/

.corps{
	width:1024px;
}

.centre{
	background-color:#FFFFFF;
	width:600px;
	float:left;
}

/* footer */

#footer_wrapper{
	width:100%;
	position:relative;
	height:80px;
}

#footer_inner{
	font-size:14px;
	margin-left:-512px;
	position:absolute;
	bottom:0;
	left:50%;
	width:1024px;
}

	#footer_inner a{color:black;}
	#footer_inner a:hover{color:#8DB90C;}
	#footer_inner ul{
		position: relative;
		float:left;
		font-size:12px;
	}
	
	#footer_inner .onglet div{height:25px;}

	#footer_inner .onglet .left{
		background-image:url(/images/footer_more_left_15x25.png);
		float:left;
		width:15px;
	}
	#footer_inner .onglet .middle{
		line-height:20px;
		color:white;
		background-image:url(/images/footer_more_middle_1x25.png);
		float:left;
	}
	#footer_inner .onglet .right{
		background-image:url(/images/footer_more_right_25x25.png);
		float:left;
		width:25px;
	}

	#footer_inner .head{
		clear: left;
		width:1027px;
		height:30px;
		background: url(/images/footer_cartouche_1027x30.png);
		background-repeat:no-repeat;
		padding-left:10px;
	}
		#footer_inner .head ul{
			position:absolute;
		}
		
		#footer_inner .head li{
			display: block;
			float:left;
			width:170px;
			text-decoration:none;
			color:black;
			border:none;
			margin-top:10px;
			margin-left:30px;
			text-align:left;
			font-size:14px;
		}

		#footer_inner .head li a:hover{
		color:#2b9018;
		}

	#footer_inner .content_wrapper{
		width:1027px;
		overflow:hidden;
		background-color:#fff;
		background: url(/images/footer_cartoucherepeat_1027x1.png);
		background-repeat:reapeat-y;
		display: none;
	}

	#footer_inner .content_inner{
		padding-left:15px;
		background-color:#fff;
	}

	#footer_inner .content_inner ul{
		width:175px;
		padding-top:20px;
		padding-left:25px;
		line-height:15px;
		border:none;
		margin:0px;
		display:block;
		color:black;
		text-align:left;
		text-decoration:none;
	}

	#footer_inner .content_inner li{
		list-style-image: url(/images/icons/puce.png);
		list-style-type: square;
		font-size:12px;
		padding-bottom:10px;
	}
	
	#footer_inner .bottom{
	width:1027px;
	height:20px;
	background: url(/images/footer_bottom_1027x20.png);
	}
