a{
text-decoration: none;
}
body{
font-family: sans-serif;
font-size:14px;
}

small {
	font-size: .8em;
}

.general{
	margin:auto;
	padding:0px;
	background-color:#FFFFFF;
	width:1024px;
}

.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.clear{clear:both;}
.hidden{display:none;}

.quote {
	border: 1px solid #CCCCCC;
	color: #AAAAAA;
	margin: 10px auto;
	padding: 10px;
	width: 400px;
}

a.backlink {
	color: #0F3F00;
	font-weight: normal;
	text-decoration: underline;
}

a.backlink:hover {
	text-decoration: none;
}

a.read_more:hover{
	text-decoration: underline;
}

a.read_more{
	color:#41A62A;
}

p.warning {
	border:1px solid #FF5A00;
	color:#FF7124;
	margin:10px;
	padding:5px;
	text-align:center;
}

p.important {
	color: #2F8D00;
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

/*MENU HAUT*/
.menu_haut{
width:1024px;
height:40px;
margin-bottom:20px;
}
.left_menu_haut{
background: url(/images/top_bar-left_10x40.png);
width:10px;
height:40px;
float:left;
}
.right_menu_haut{
background: url(/images/top_bar-right_10x40.png);
width:10px;
height:40px;
float:right;
}
.middle_menu_haut{
background: url(/images/top_bar-middle_1x40.png);
width:1004px;
height:40px;
float:left;
}
/*MENU HAUT gauche*/
.menu{
display: block;
font-size:10px;
margin:0px;
list-style-type:none;
float:left;
}

.menu li{
padding-top:10px;
padding-left:10px;
float:left;
}

.menu_accueil .menu li{
	padding-top:6px;
}

.menu a{
text-decoration:underline;
color:white;
}
.menu a:hover{
color:white;
text-decoration:none;
text-align:center;
}
.menu a:active{
color:#C2C2C2;
text-decoration:underline;
}

#language-wrapper{
    float: left;
    left: -5px;
    position: relative;
    text-align: center;
    width: 52px;
}

#language-wrapper div.flags-hidden {
	display:none;
	position: relative;
    top: -2px;
	width:52px;
	background: url("/images/language-bar-y.png") repeat-y scroll 0 0 transparent;
	z-index:50;
}

#language-wrapper div.flags-hidden ul {
    background: url("/images/language-bar-bottom.png") no-repeat scroll 0 bottom transparent;
    position: relative;
    top: 15px;
}

#language-wrapper div.flags-hidden li {
	position: relative;
	top: -12px;
}

/*MENU HAUT droit*/
.menu_connexion{
float:right;
text-align:right;
font-size:12px;
color:#FFFFFF;
}
.menu_connexion ul.menu,
.menu_connexion ul.menu li {float:right;}

.menu_connexion input,
.menu_connexion img
{
	position:relative;
	top:-5px;
}

.menu_connexion a{
color:white;
text-decoration: underline;
font-size: 11px;
}
.mdp_perdu{
background: url(/images/moteur/btn_pass_forgive_20x20.png);
background-repeat: no-repeat;
background-position: center;
font-size:14px;
width:20px;
height:23px;
}



/*CORPS du SITE*/

.corps{
	width:1024px;
}

.centre{
	background-color:#FFFFFF;
	width:600px;
	float:left;
}

/* footer */

#footer_wrapper{
	width:100%;
	position:relative;
	height:80px;
}

#footer_inner{
	font-size:14px;
	margin-left:-512px;
	position:absolute;
	bottom:0;
	left:50%;
	width:1024px;
}

	#footer_inner a{color:black;}
	#footer_inner a:hover{color:#8DB90C;}
	#footer_inner ul{
		position: relative;
		float:left;
		font-size:12px;
	}
	
	#footer_inner .onglet div{height:25px;}

	#footer_inner .onglet .left{
		background-image:url(/images/footer_more_left_15x25.png);
		float:left;
		width:15px;
	}
	#footer_inner .onglet .middle{
		line-height:20px;
		color:white;
		background-image:url(/images/footer_more_middle_1x25.png);
		float:left;
	}
	#footer_inner .onglet .right{
		background-image:url(/images/footer_more_right_25x25.png);
		float:left;
		width:25px;
	}

	#footer_inner .head{
		clear: left;
		width:1027px;
		height:30px;
		background: url(/images/footer_cartouche_1027x30.png);
		background-repeat:no-repeat;
		padding-left:10px;
	}
		#footer_inner .head ul{
			position:absolute;
		}
		
		#footer_inner .head li{
			display: block;
			float:left;
			width:170px;
			text-decoration:none;
			color:black;
			border:none;
			margin-top:10px;
			margin-left:30px;
			text-align:left;
			font-size:14px;
		}

		#footer_inner .head li a:hover{
		color:#2b9018;
		}

	#footer_inner .content_wrapper{
		width:1027px;
		overflow:hidden;
		background-color:#fff;
		background: url(/images/footer_cartoucherepeat_1027x1.png);
		background-repeat:reapeat-y;
		display: none;
	}

	#footer_inner .content_inner{
		padding-left:15px;
		background-color:#fff;
	}

	#footer_inner .content_inner ul{
		width:175px;
		padding-top:20px;
		padding-left:25px;
		line-height:15px;
		border:none;
		margin:0px;
		display:block;
		color:black;
		text-align:left;
		text-decoration:none;
	}

	#footer_inner .content_inner li{
		list-style-image: url(/images/icons/puce.png);
		list-style-type: square;
		font-size:12px;
		padding-bottom:10px;
	}
	
	#footer_inner .bottom{
	width:1027px;
	height:20px;
	background: url(/images/footer_bottom_1027x20.png);
	}

/* list style */
ul.warning  {
	border:1px solid #D86060;
	padding: 10px;
	list-style-type: square;
}

ul.content-list  {
	margin: 0 10px;
}

	ul.content-list li {
		color: #AF3A3A;
		line-height: 18px;
		margin: 0 0 0 15px;
		font-size: .9em;
	}


ul.list  {
	border:1px solid #CCCCCC;
	border-top:none;
	margin: 10px 5px;
}

	ul.list li {
		cursor:pointer;
		display:block;
		position:relative;
		padding:2px 5px;
		border-top:1px #ccc solid;
		line-height:25px;
		text-decoration:none;
		color:#666;
	}
	
	ul.list li:hover {
		color:#F33;
		background-color:#eee;
	}
		ul.list li a{
			color:#666666;
			display:block;
			height:100%;
			width:100%;
		}
	
		ul.list li p.item {
			font-size:0.75em;
		}

		ul.list li p.bigitem{
			display: inline-block;
			font-size: 0.75em;
			width: 400px;
		}
		
		ul.list li span.action {
			position:absolute;
			right:0;
		}
		
ul.list.partenaire,
ul.list.partenaire li {
	border-color: #A968CC;
}

	ul.list.partenaire li {
		color:#F33;
	}
	
	ul.list.partenaire li:hover {
		color:#F33;
		background-color:#eee;
	}
	
		ul.list.partenaire li a{
			color:#A968CC;
		}
		
table.table {
	width: 100%;
}

table.table td, 
table.table th {
    border-color: #DDDDDD -moz-use-text-color;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    text-align: left;
    vertical-align: top;	
}

table.table th {
    background-color: #E7EEF6;
    white-space: nowrap;
}

table.table tr {
    background-color: #FFFFFF;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

table.table td {
    border-color: #DDDDDD -moz-use-text-color;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    text-align: left;
    vertical-align: top;
}

table.table td, table.table th {
    padding: 7px;
}

table.table a {
    color: #464646;
}

table.table a:hover {
	text-decoration: underline;
}

table.table tfoot.pagination td {
	text-align: center;
}

.pagination_desc {
	font-style: italic;
	text-align:right;
	padding:5px;
	color:#666;
	font-size:.9em;
}

.export_wrapper {
	font-style: italic;
	text-align:right;
	padding:5px;
	color:#666;
	font-size:.9em;
}

.export_wrapper a {
	float:right;
	margin:0 5px;
}

div#sfWebDebugBar {
	bottom: 0;
	top: auto;
}

div.attestation-wrapper {
	margin: 20px 0;
}

a.partenaire-page-link {
	display:block;
	text-align:center;
	font-weight:bold;
	font-size: 14px;
	text-decoration:underline;
	color:#0068DD;
}
