/*FIXE*/
.header{
	background: url(/images/moteur/header_bg_650x115.png);
	background-repeat:no-repeat;
	background-position: top;
	margin:auto;
	width:1024px;
	height:195px;
	text-align:center;
}
.logo{
	background: url(/images/moteur/logo_350x115.png);
	margin:auto;
	width:350px;
	height:115px;
}
.slogan{
	font-size:18px;
	color:#2F8D00;
	text-align:center;
}

#searchForm {
	display:block;
	height:75px;
	margin:0 auto;
	width:520px;
}

input#q{
	text-align:left;
	background-color:#FFFFFF;
	border: 1px solid #AAAAAA;
	width: 380px;
}

#searchForm input[type=submit]{
	top:-2px;
	margin-left:10px;
	position:relative;
}

#searchForm div.search{
	height: 20px;
}

.filtres {
	position: relative;
}

.filtres a.more-search {
	bottom: 0;
	position: absolute;
	right: 0;
}

.filtres span.button {
	position: relative;
	margin-left:-6px;
	padding-left:5px;
	padding-right:15px;
	-webkit-border-radius: 0 0 2em 0.5em;
	-moz-border-radius: 0 0 2em 0.5em;
	border-radius: 0 0 2em 0.5em;
}

.filtres span.button.first {
	margin-left:0px;
}

/* CORPS ACCUEIL */

#home {
	min-height:370px;
	width:700px;
	margin:0 auto;
}

/* encart accroche */

div.module.acteur{
	width:400px;
	float:left;
	margin-bottom: 50px;
}

div.module.acteur a{margin-top:20px;width:255px;}
div.module.acteur p.title{left:70px;width:100%;}

/* encarts statistiques */

div.module.statistiques{
	width:250px;
	float:right;
}

div.module.statistiques p.title,
div.module.partenaires p.title {
	text-align:right;
	left:-70px;
	width:100%;
}

/* encart partenaires */

.module.partenaires{
	width:250px;
	float:right;
	margin-top:20px;
}

.lien_partenaires{
	text-align:right;
	font-size:13px;
	line-height:20px;
}

.lien_partenaires a{
	text-decoration: underline;
	color:#7113d0;
	padding:10px;
}

.lien_partenaires a:hover{
	color:#7113d0;
	text-decoration:none;
}

.lien_partenaires a:active{
	color:#7113d0;
	text-decoration:underline;
	font-size:13px;
}

/*MENU GAUCHE affiner recherches*/
.menu_left{
background-color:#FFFFFF;
width:212px;
min-height:10px;
float:left;
}
.liens_achat{
display:none;
font-size:12px;
margin:0px;
padding:5px;
list-style-type:none;
}

div.more-result {
	width: 100%; 
	margin: 20px auto; 
	text-align: center;
}

#searchMore {
	width:70%;
}

/* recherche Achat */

div.shop-result div.result {
    border: 1px solid #DA7C0C;
	background-color: #FFF5D7;
    margin: 5px;
}

div.shop-result div.result:hover {
    border: 1px solid #FF7124;
}

div.shop-result div.result table {
	width:100%;
}

div.shop-result div.result td {
	padding: 20px 5px;
    vertical-align: middle;
}

div.shop-result div.result td.affiliate-logo img {
	max-height:80px;
	max-width:300px;
}

div.shop-result div.result td.affiliate-logo {
	text-align:center;
	width:320px;
}

div.shop-result div.result td.affiliate-content {
	max-width:400px;
	text-align: center;
}

div.shop-result div.result td.affiliate-gains {
	width:150px;
	text-align: center;
}

div.shop-result div.content p {
	font-size:0.9em;
	padding:3px 0;
}

div.shop-result a {
	font-size:0.9em;
	font-style:italic;
}

div.shop-result div.result h3 a {
	color:#015F00;
	padding:2px;
	font-style:normal;
}
/* recherche Web */

div.web-result div.result {
	border-bottom:1px solid #CCCCCC;
	margin:10px;
	padding: 5px 0;
	width:490px;
	height: 70px;
	float:left;
}

div.web-result p.content {
	font-size:0.9em;
	padding:3px 0;
}

div.web-result a {
	font-size:0.9em;
	font-style:italic;
}

div.web-result div.result h3 a {
	color:#015F00;
	padding:2px;
	font-style:normal;
}

/* recherche Pub */
div.pub-result div.result {
    float: left;
    height: 50px;
    padding: 10px;
	position: relative;
    width: 480px;
	background-color: #ECFFD7;
}

div.pub-result p.content {
	font-size:0.9em;
	padding:3px 0;
}

div.pub-result a {
	font-size:0.9em;
	font-style:italic;
}

div.pub-result div.result h3 a {
	color:#015F00;
	padding:2px;
	font-style:normal;
}

/* recherche Image */

div.news-result div.result {
	border-bottom:1px solid #CCCCCC;
	margin:10px;
	padding: 5px 0;
	width:490px;
	height: 100px;
	float:left;
}

div.news-result p.content {
	font-size:0.9em;
	padding:3px 0;
}

div.news-result a {
	font-size:0.9em;
	font-style:italic;
}

div.news-result div.result h3 a {
	color:#015F00;
	padding:2px;
	font-style:normal;
}

div.news-result div.result h4 {
	color:#015F00;
	font-size:0.85em;
	padding: 5px 10px 0 0;
	font-style:italic;
	font-weight:bold;
	text-align:right;
}

div.news-result span.filename {
	color:#aaa;
	font-size:0.9em;
	font-weight:normal;
	margin-left:5px;
}

/* recherche Image */

div.img-result div.result {
	float:left;
	height:210px;
	margin:10px;
	width:180px;
}

div.img-result div.result img {
	border:1px solid #CCCCCC;
	padding:1px;
}

div.img-result a {
	color:#2D64A7;
	font-size:0.9em;
}

div.img-result a:hover {
	color:#18314F;
}

div.img-result span.filename {
	color:#015F00;
	font-size:0.8em;
}

div.img-result p.content {
	width:150px;
}

/* footer */

#footer_page {
	font-size:10px;
	height:50px;
	margin:50px 0 0;
	text-align:center;
}

#footer_page a,
#footer_page a:visited {
	text-decoration: none;
	color: #5C8A1D;
	font-weight: bold;
}

#footer_page a:hover {
	color: #184F11;
}
