/* menu recherche */
.menu_left li{float:left;}
.menu_left a{
text-decoration:none;
color:black;
width:150px;
line-height:28px;
height:40px;
border:none;
margin:0px;
display:block;
text-align:center;
}
.menu_left a:hover{
color:green;
background-image:url();
text-decoration:none;
text-align:center;
}
.menu_left a:active{
color:green;
text-decoration:none;
font-size:18px;
}

/*FIXE*/
.header{
background: url(/images/moteur/header_bg_650x115.png);
background-repeat:no-repeat;
background-position: top;
margin:auto;
width:1024px;
height:195px;
text-align:center;
}
.logo{
background: url(/images/moteur/logo_350x115.png);
margin:auto;
width:350px;
height:115px;
}
.slogan{
font-size:18px;
color:#2F8D00;
text-align:center;
}
.search{
background-color:#CCCCCC;
width:600px;
}
.champs{
float:left;
text-align:left;
background-color:#FFFFFF;
}
.btn_search{
/*background: url(/images/btn_recherche.png);*/
float:right;
font-size:12px;
text-align:center;
width:100px;
height:27px;
}
.more_search{
clear:both;
padding-top:5px;
}
.filtres{
float:left;
width:450px;
}

.filtres a{
float:left;
color:#2f8d00;
font-size:14px;
text-align:center;
line-height:20px;
}
.onglet_recherches .onglet_selected{
float:left;
border-top:1px;
border-top-color:white;
color:black;
}
.onglet_recherches{
float:left;
border-top:1px;
border-top-style: solid;
border-top-color:green;
}
a .onglet_left{
border-top:1px;
border-top-color:green;
float:left;
width:11px;
height:26px;
}
a .onglet_middle{
border-top:1px;
border-top-color:green;
float:left;
height:26px;
}
a .onglet_right{
border-top:1px;
border-top-color:green;
float:left;
height:26px;
}
.onglet_left.onglet_selected{
float:left;
background: url(/images/categorie_left_11x26.png);
width:11px;
height:26px;
}
.onglet_middle.onglet_selected{
float:left;
background: url(/images/categorie_middle_1x26.png);
height:26px;
}
.onglet_right.onglet_selected{
float:left;
background: url(/images/categorie_right_26x26.png);
width:26px;
height:26px;
}
.onglet_decoration{
float:left;
background: url(/images/categorie_decoration-65x26.png);
width:65px;
height:26px;
}
.avancees a{
float:right;
color:#2F8D00;
text-decoration: underline;
font-size:14px;
}
.avancees a:hover{
color:#2F8D00;
text-decoration: none;
font-size:14px;
}
/*CORPS ACCUEIL*/
.menu_centre{
min-height:370px;
width:600px;
clear:both;
padding-top:20px;
}
/*encart gauche*/
.acteur{
width:352px;
float:left;
}
div.acteur div.module p{left:70px;width:100%;}
div.acteur div.module a{margin-top:20px;width:255px;}
div.acteur div.module p.title{left:70px;width:100%;}
/*encarts droit*/
.statistiques{
width:229px;
height:187px;
float:right;
}
div.statistiques div.module p.title{text-align:right;left:-70px;width:100%;}

/*partenaires pas mis a jour avec les nouveaux modules*/

.head_partenaires{
background: url(/images/head_partenaires_229x50.png);
background-repeat:no-repeat;
width:229px;
height:50px;
}
.titre_partenaires{
text-align:right;
font-size:15px;
font-weight:bold;
line-height:57px;
padding-left:15px;
padding-right:70px;
color:#6600cc;
}
.corps_partenaires{
background: url(/images/middle_partenaires_229x1.png);
width:229px;
}
.contenus_partenaires{
margin:auto;
width:203px;
padding-top:10px;
padding-left:10px;
font-size:12px;
}

.lien_partenaires{
text-align:right;
width:229px;
font-size:13px;
line-height:20px;
}
.lien_partenaires a{
text-decoration: underline;
color:#7113d0;
padding:10px;
}
.lien_partenaires a:hover{
color:#7113d0;
text-decoration:none;

}
.lien_partenaires a:active{
color:#7113d0;
text-decoration:underline;
font-size:13px;

}
.pied_partenaires{
margin:auto;
background: url(/images/footer_partenaires_229x20.png);
width:229px;
height:20px;
}
/*MENU GAUCHE affiner recherches*/
.menu_left{
background-color:#FFFFFF;
width:212px;
min-height:10px;
float:left;
}
.liens_achat{
display:none;
font-size:12px;
margin:0px;
padding:5px;
list-style-type:none;
}