.general .header {display:none;}
#footer_wrapper{display:none;} /*en attendant*/

/*CORPS du SITE*/
#body{
	width:1024px;
	position:relative;
	margin-bottom:10px;
}
	#center{
		background-color:#FFFFFF;
		float:right;
		width:750px;
	}

	#left {
		width:250px;
		min-height:100%;
	}

div.content a {
	margin-top:10px;
}

div.content input {
	margin-top:10px;
}

ul.scrollable  {
	padding:3px;
	overflow:hidden;
	position:relative;
	height:150px;
}

ul.scrollable.medium  {
	height:200px;
}
	ul.scrollable  li {
		cursor:pointer;
		display:block;
		position:relative;
		padding:2px 5px;
		border-top:1px #ccc solid;
		line-height:25px;
		text-decoration:none;
		color:#666;
	}
	
	ul.scrollable  li:hover {
		color:#F33;
		background-color:#eee;
	}
	
		ul.scrollable  li span.item {
			display: inline-block;
			width:120px;
			font-size:0.75em;
		}

		ul.scrollable  li span.bigitem{
			display: inline-block;
			font-size: 0.75em;
			width: 400px;
		}
		
		ul.scrollable  li span.action {
			float:right;
			margin:0 0 2px;
		}
	
.scrollableWrapper span.button {
	margin:10px 0;
}
	
span.button.fixedWidth {
	width:70%;
}
	
span.button.maxWidth {
	width:90%;
}

div.gmap-info-bulle {
	overflow:hidden;
}

.module img.organisme-image {
	display:block;
	margin:0 auto;
	max-width:200px;
	padding-bottom:5px;
	text-align:center;
}
