.general .header {display:none;}
#footer_wrapper{display:none;} /*en attendant*/
/*
body{background:url("../images/blog/backgrounds/main1.jpg") no-repeat fixed center center transparent;}
*/

a.read_more {
	color:#AAAAAA;
	display:block;
	font-size:0.9em;
	font-style:italic;
	font-weight:bold;
	text-align:right;
}

a.read_more:hover {
	color:#91BF83;
}

/*CORPS du SITE*/
#body{
	width:1024px;
	position:relative;
	margin-bottom:10px;
}
	#center{
		background-color:#FFFFFF;
		float:right;
		width:750px;
	}
	
	#center .module{
		margin-bottom:20px;
	}

	#left {
		width:250px;
		min-height:100%;
	}

div.content a {
	margin-top:10px;
}

div.content input {
	margin-top:10px;
}

ul.scrollable  {
	padding:3px;
	overflow:hidden;
	position:relative;
	height:150px;
}

ul.scrollable.medium  {
	height:200px;
}
	ul.scrollable  li {
		cursor:pointer;
		display:block;
		position:relative;
		padding:2px 5px;
		border-top:1px #ccc solid;
		line-height:25px;
		text-decoration:none;
		color:#666;
	}
	
	ul.scrollable  li:hover {
		color:#F33;
		background-color:#eee;
	}
	
		ul.scrollable  li p.item {
			font-size:0.75em;
		}

		ul.scrollable  li p.bigitem{
			display: inline-block;
			font-size: 0.75em;
			width: 400px;
		}
		
		ul.scrollable  li span.action {
			position:absolute;
			right:0;
		}
	
.scrollableWrapper span.button {
	margin:10px 0;
}
	
span.button.fixedWidth {
	width:70%;
}
	
span.button.maxWidth {
	width:90%;
}

div.gmap-info-bulle {
	overflow:hidden;
}

.gmap-info-bulle span.title {
	font-weight:bold;
	color:#213F17;
}

div.gmap-info-bulle a {
	margin:0;
}

.gmap-info-bulle img.gmap-programme {
	float:left;
	max-height:80px;
	max-width:145px;
	padding-right:5px;
}

#map span.nbTreeMap {
	color: #000;
	position:absolute;
}

.module img.organisme-image {
	display:block;
	margin:0 auto;
	max-width:200px;
	padding-bottom:5px;
	text-align:center;
}
